name: playnite-insights-app

services:
  app-vitest:
    build:
      context: .
      target: vitest
    container_name: app-vitest
    environment:
      LOG_LEVEL: 0 # debug

  # This instance is used for automated e2e testing with Playwright
  app-stage:
    build:
      context: .
      target: stage
    container_name: app-stage
    environment:
      TEST_DATA: true
      TZ: "America/Sao_Paulo"

  app-playwright:
    build:
      context: .
      target: playwright
    container_name: app-playwright
    environment:
      BASE_URL: "http://app-stage:3000"
    volumes:
      - playnite-insights-playwright-results:/usr/src/app/playwright/playwright-report
    depends_on:
      - app-test-results

  app-test-results:
    image: nginx:alpine
    container_name: test-results
    volumes:
      - playnite-insights-playwright-results:/usr/share/nginx/html/playwright:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
    networks:
      - services-ipv6

  app-prod:
    build:
      context: .
      target: prod
    container_name: app-prod
    restart: always
    environment:
      PLAYNITE_HOST_ADDRESS: ${PLAYNITE_HOST_ADDRESS_PROD}
      PLAYATLAS_INSTANCE_NAME: "PlayAtlas"
      TZ: "America/Sao_Paulo"
      LOG_LEVEL: 0
    volumes:
      - playnite-insights-prod-data:/app/data
    networks:
      - services-ipv6

networks:
  services-ipv6:
    external: true

volumes:
  playnite-insights-dev-data:
  playnite-insights-prod-data:
  playnite-insights-playwright-results:
