name: playatlas-app

services:
  app-vitest:
    build:
      context: .
      target: vitest
    container_name: app-vitest
    environment:
      LOG_LEVEL: 0 # debug

  # This instance is used for automated e2e testing with Playwright
  app-stage:
    build:
      context: .
      target: stage
    container_name: app-stage
    environment:
      TEST_DATA: true
      TZ: "America/Sao_Paulo"

  app-playwright:
    build:
      context: .
      target: playwright
    container_name: app-playwright
    environment:
      BASE_URL: "http://app-stage:3000"
    volumes:
      - playatlas-playwright-results:/usr/src/app/playwright/playwright-report
    depends_on:
      - app-test-results

  app-test-results:
    image: nginx:alpine
    container_name: test-results
    volumes:
      - playatlas-playwright-results:/usr/share/nginx/html/playwright:ro
      - ./playwright/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped

  app-docs:
    build:
      context: .
      target: mkdocs-runtime
    container_name: app-docs

  app-prod:
    build:
      context: .
      target: prod
    container_name: app-prod
    restart: always
    environment:
      TZ: "America/Sao_Paulo"
      LOG_LEVEL: 0
    volumes:
      - playnite-insights-prod-data:/app/data

volumes:
  playnite-insights-dev-data:
  playnite-insights-prod-data:
  playatlas-playwright-results:
