name: playnite-insights-app

services:
  app-dev:
    build:
      context: .
      target: dev
    container_name: app-dev
    environment:
      LOG_LEVEL: 0 # debug
      ORIGIN: ${ORIGIN_DEV} # make sure there's no trailing slash
      # Careful! When true it will delete current database and insert test data
      # TEST_DATA: true
    develop:
      watch:
        - path: ./
          action: sync
          target: /app
          ignore:
            - node_modules/
            - data/
        - path: ./
          include:
            - package.json
          target: /app/package.json
          action: rebuild
        - path: ./
          include:
            - vite.config.ts
          target: /app/vite.config.ts
          action: rebuild
        - path: ./
          include:
            - svelte.config.js
          target: /app/svelte.config.js
          action: rebuild
        - path: ./docker
          target: /app/docker
          action: rebuild
    volumes:
      - playnite-insights-dev-data:/app/data
    networks:
      - services-ipv6

  app-test:
    build:
      context: .
      target: test
    container_name: app-test
    environment:
      LOG_LEVEL: 1 # info
      ORIGIN: ${ORIGIN_DEV} # make sure there's no trailing slash
      # Careful! When true it will delete current database and insert test data
      TEST_DATA: true
    volumes:
      - playnite-insights-vitest-results:/app/test-results
      - playnite-insights-playwright-results:/app/playwright-results
    profiles:
      - test
    depends_on:
      - app-test-results

  app-test-results:
    image: nginx:alpine
    volumes:
      - playnite-insights-vitest-results:/usr/share/nginx/html/vitest:ro
      - playnite-insights-playwright-results:/usr/share/nginx/html/playwright:ro
      - ./tests/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
    profiles:
      - test
    networks:
      - services-ipv6

  app-prod:
    build:
      context: .
      target: prod
    container_name: app-prod
    environment:
      LOG_LEVEL: 1 # info
      ORIGIN: ${ORIGIN_PROD} # make sure there's no trailing slash
    volumes:
      - playnite-insights-prod-data:/app/data
    networks:
      - services-ipv6

networks:
  services-ipv6:
    external: true

volumes:
  playnite-insights-dev-data:
  playnite-insights-prod-data:
  playnite-insights-vitest-results:
  playnite-insights-playwright-results:
