name: playnite-insights-app

services:
  app-docs:
    build:
      context: .
      target: mkdocs-runtime
    container_name: app-docs

  app-prod:
    build:
      context: .
      target: prod
    container_name: app-prod
    restart: always
    volumes:
      - playnite-insights-prod-data:/app/data
    logging:
      driver: journald
      options:
        tag: playatlas

volumes:
  playnite-insights-dev-data:
  playnite-insights-prod-data:
  playatlas-playwright-results:
