@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-primary-50: hsl(198, 100%, 97%);
  --color-primary-100: hsl(198, 100%, 94%);
  --color-primary-200: hsl(198, 100%, 87%);
  --color-primary-300: hsl(198, 100%, 77%);
  --color-primary-400: hsl(198, 100%, 72%);
  --color-primary-500: hsl(198, 100%, 67%);
  --color-primary-600: hsl(198, 100%, 50%);
  --color-primary-700: hsl(198, 100%, 42%);
  --color-primary-800: hsl(198, 100%, 34%);
  --color-primary-900: hsl(198, 100%, 26%);
  --color-primary-950: hsl(198, 100%, 18%);

  --color-background: hsl(228, 48%, 10%);
  --color-background-1: hsl(228, 48%, 15%);
  --color-background-2: hsl(228, 48%, 18%);
  --color-background-3: hsl(228, 48%, 22%);
}

body {
  @apply text-white bg-background overflow-hidden;
}