name: Pre release

on:
  pull_request:
    branches:
      - master
      - beta

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: ^10.13.0

      - name: Run unit and integration tests
        run: pnpm run test

      - name: Publish test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: "**/junit.xml"

      - name: Build Svelte App image
        run: |
          docker build \
            --target prod \
            -t play-atlas:pr-check .
